div{
    margin-bottom: 15px;
}

input{
    padding: 5px;
    width: 200px;
}

button
{
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}