

<form [formGroup] = "studentForm" (ngSubmit)="onSubmit()">
    <div>
      <label style=" padding: 12px 12px 12px 0;display: inline-block;">Student Id  </label>
      <input type="number" formControlName="studentId" >
    </div>

    <div>
      <label style=" padding: 12px 12px 12px 0;display: inline-block;">Student Name  </label>
      <input type="text" formControlName="studentName" >
    </div>

    <div>
      <button type="submit" class="btn btn-danger" [disabled]="studentForm.invalid">Add Student</button>
    </div>

    <div>
        {{studentForm.value|json}}
    </div>

    <div>
        {{data | json}}
    </div>
</form>
