<!-- <table>
    <thead class="thead-dark">
        <tr>
            <th>Student Id</th>
            <th>Student Name</th>
            <th>Student Score</th>
     </tr>
    </thead>

    <tbody>
        <tr *ngFor="let s of students">
            <td>{{s.studentId}}</td>
            <td>{{s.studentName}}</td>
            <td>{{s.studentScore}}</td>
        </tr>
    </tbody>
</table> -->



<table class="table">
    <thead>
      <tr>
        <th scope="col">Student Id</th>
        <th scope="col">Student Name</th>
        <th scope="col">Student Score</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let s of students">
        <td>{{s.studentId}}</td>
        <td>{{s.studentName}}</td>
        <td>{{s.studentScore}}</td>
      </tr>
      
    </tbody>
  </table>
  
  