<div class="container">
  <div class="jumbotron">
    <h1 class="display-4">Student App!</h1>
    <p class="lead">This is a simple Student Application. In this app we will explore more about Angular</p>
  </div>

  <div>
    <app-add-student (add)="addStudent($event)"></app-add-student>
  </div>


  <div *ngIf ="students.length>0; else nostudent">
    <div>
      <div *ngFor="let s of students">
        <app-list-student [student]="s"></app-list-student>
      </div>
    </div>
  </div>

  <ng-template #nostudent>
  <p>No student data is present</p>
  </ng-template>
</div>