<form (ngSubmit)="addHandler(f)" #f="ngForm">

    <div>
        <div>Student Id</div>
        <div> <input type="text" name="rollNumber" ngModel required> </div>
    </div>

    <div>
        <div>Student Name</div>
        <div> <input type="text" name="studentName" ngModel required> </div>
    </div>

    <div>
        <div>Student Score</div>
        <div> <input type="text" name="studentScore" ngModel required> </div>
    </div>

    <div>
        <!-- mt-= margin top,mb +margin bottom -->
        <button class="btn btn-primary mt-3 mb-3" type="submit" [disabled]="f.invalid">Add Student</button>
    </div>

</form>